# Ignore docker container data
.containers/*

# Visual studio configs
.vs

# Compiled .NET
*/obj/*
*/bin/*

*/appsettings.json
*/appsettings.*.json
!*/appsettings.example.json


docs/api_specs/node_modules